<!-- <h1 class="">App comp title</h1> -->

<!-- <div class="container setBackground">
  <p>app component</p>
</div>


<div class="container" appHighlight>
  <p>app component</p>
</div>

<div class="container" appHighlight appHover>
  <p>app component</p>
</div> -->


<!-- <div class="container" appHostBinding [defaultColor]="'yellow'" [highlightColor]="'white'">
  <p>app component</p>
</div> -->


<!-- <div class="container" [appHostBinding]="'red'" [defaultColor]="'yellow'"  [ngStyle]="">
  <p>app component</p>
</div> -->

<div [appClassCustom]="{class1: true, class2 : true}">
  <p>app component</p>
</div>

