<div class="main-container">
  <div class="nav-container">
    <ul>
      <li><a routerLinkActive="quangTest" routerLink="" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
      <li><a [routerLinkActive]="'quangTest'" [routerLink]="['/about']">About</a></li>
      <li><a routerLinkActive="quangTest" routerLink="/contact">Contact</a></li>
      <li><a routerLinkActive="quangTest" routerLink="/course">Courses</a></li>
    </ul>
  </div>
  <div class="component-container">
    <!-- <app-container></app-container>
    <app-demo></app-demo>
    <app-custom-list></app-custom-list> -->
    <router-outlet></router-outlet>
  </div>
</div>
